:root {
  --primary-color: #81B0FF;
  --secondary-color: #263A7A;
  --point-color: #FFCF00;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto',sans-serif;
  color:var(--secondary-color);
}
.content{
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
/* .sub-menu{
  width: 90%;
  margin: 0 auto;
} */
.clr{
  clear:both;
}
.app-header{
  display: inline-block;
  color: var(--secondary-color);
  border: var(--secondary-color) solid 2px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0 5px 10px;
  position: sticky;
}
#back-btn{
  text-decoration: none;
}

.main-menu {
  margin: 10px auto 30px;
  /* text-align: right; */

}
.main-menu img {
  width:160px;
  height: 140px;
  float: left;
  margin-right: 20px;
  border-radius: 5px;
}
.gym-info{
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  min-height: 100px;
  
}
.main-menu a{
  color: var(--secondary-color);
  margin:0;
}
.main-menu h3{
  margin-bottom: 10px;
}


.item{
  margin: 5px 0;
  display: block;
  height: 80px;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  position: relative;
  z-index: 1;
}
 #reviewp{
   margin-top:15px;
 }
#equipp{
  margin-top:15px;
}
#equip{
  float:left;
  width: 49%;
}
#rate{
  width:49%;
  float: right;
}
.items a{
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 18px;
}
.items i{
  font-size:15px ;
}
.rating{
  margin-top: 10px;
  display:block;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.fa-star{
  color: var(--point-color);
}

.prices{
  margin:20px 0;
  padding: 10px;
  background-color: #e9ecef;
  overflow: auto;
  border-radius: 5px;
  line-height: 135%;
}

.prices h2{
  margin-bottom: 10px;
  font-size:1.4rem;
}
#membership{
  float:left;
  width:50%;
}
#daily{
  float:right;
  width: 40%
}
#map{
  margin-bottom: 60px;
  height: 400px;
  width: 100%;
  border: 3px solid var(--primary-color);
}

.app-footer {
	background-color: var(--primary-color);
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: center;
}

.app-footer i {
  color: var(--secondary-color);
	font-size: 30px; 
}

.app-footer div {
	padding: 10px;
}

.home-menu {
	box-shadow: inset 0px 0px 10px var(--secondary-color);
	float: left;
	width: 50%;
}
