:root {
	--primary-color: #81b0ff;
	--secondary-color: #263a7a;
	--point-color: #ffcf00;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}

.html,
body {
	height: 100%;
	min-width: 320px;
	margin-bottom: 60px;
	font-family: "Roboto", sans-serif;
}

.container {
	margin: 15px 15px 15px 15px;
	overflow: hidden;
}

/*! The header */
.app-header {
	display: inline-block;
	color: var(--secondary-color);
	border: var(--secondary-color) solid 2px;
	border-radius: 5px;
	padding: 5px;
	position: sticky;
	margin-bottom: 20px;
}

.app-header:hover {
	color: var(--point-color);
	border-color: #ffcf00;
}

#back-button {
	text-decoration: none;
	color: var(--secondary-color);
}

.app-header p {
	padding-right: 2px;
	color: var(--secondary-color);
}

.fa-chevron-left {
	padding-right: 2px;
	padding-left: 2px;
}

/*! insert rest of styling here */

input[type="text"],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type="submit"] {
	background-color: var(--primary-color);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	width: 100%;
}

input[type="submit"]:hover {
	background-color: var(--secondary-color);
}

.col-100 {
	float: left;
	width: 100%;
	margin-bottom: 25px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/*! insert rest of styling here*/

/*! The footer */
.app-footer {
	/* display:flex;
  justify-content: space-evenly; */
	/* Comment out "position: fixed" in order to make
  footer sticky and uncomment flex: 1 0 auto;
  flex: 1 0 auto;*/
	background-color: var(--primary-color);
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: center;
}

.app-footer a {
	text-decoration: none;
	color: black;
}

.app-footer i {
	font-size: 30px;
}

.app-footer div {
	padding: 10px;
}

.home-menu {
	box-shadow: inset 0px 0px 10px var(--secondary-color);
	float: left;
	width: 50%;
}
